* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

/*Header*/

body {
	width: 100%;
	font-family: 'Roboto', sans-serif;
}

.header-head {
	width: 100%;
	height: 50px;
	min-width: 300px;

	display: flex;
	justify-content: space-between;
	align-items: center;

	padding: 5px 10px;
	background:white;
	position: fixed;
	z-index: 9999999;
}

.header-head h2 {
	font-size: 2.6rem;
	font-weight: 600;
}

.header-head nav {
	display: none;
}

/*Main*/

main {
	width: 90%;
	margin: 0 auto;;
}

main .main-fondo {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	background-image: url('./images/fondo-header.jpg');
	background-size: cover;
	background-position: center;

	height: 290px;
	text-align: center;
}

main .main-fondo h1 {
	font-size: 3rem;
	opacity: 0.9;
	padding: 0.5rem;
	color: #2d3436;
	border-radius: 5px;
	background: white;
	margin-bottom: 30px;
}

main .main-fondo p {
	color: #b2bec3;
	border-radius: 5px;
	font-size: 1.5rem;
	padding: 0.5rem;
	opacity: 0.9;
	
	font-weight: 700;
	border-radius: 5px;
	background: white;

	max-width: 400px;
}

/*Main Section Authors*/

main .content  {
	/* width: 90%; */
	height: auto;
	/* margin: 0 auto; */
}

main .box {
	width: 100%;
	max-width: 500px;
	height: auto;

	border: 2px solid #2d3436;
	border-radius: 5px;
	overflow: hidden;
	margin-top: 30px;
}

main .box h2 {
	margin: 8px 0;
	font-size: 2.6rem;
	text-align: center;
}

main .box p {
	font-size: 1.9rem;
	text-align: justify;
	line-height: 2.7rem;
}

main .box p,
main .box span {
	padding: 3px 5px;
}

main .box span {
	color: #d63031;
	font-weight: bold;
}

.content-box-img {
	width: 100%;
	height: 230px;
}

.content-box-img img {
	width: 100%;
	height: 100%;
}

.content-box-1 box p .red {
	color: #d63031;
}

.box .section-btn{
	max-width: 170px;
	width: 100%;
	background: #2d3436;
	color: white;
	border: none;
	padding: 10px 15px;
	margin: 15px auto;
	text-transform: uppercase;
	display: flex;
	justify-content: center;
}

/*Encuestas*/

.encuesta-table h2 {
	text-align: center;
	font-size: 2.6rem;
	font-weight: bold;
	margin: 30px 0 15px 0;
}

.encuesta-table table {
	display: flex;
	justify-content: center;

}

.encuesta-table tr,
.encuesta-table tr td {
	padding: 8px;
	font-size: 1.7rem;
	border: 1px solid #d63031;
}

.encuesta-table blockquote {
	text-align: center;
	font-size: 1.9rem;
	margin-top: 10px; 
}

hr {
	height: 4px;
	margin: 20px 0;
	background-color: #d63031;
}

/*Más Información*/

main .more-info {
	background-color: #212121;
	color: white;
	padding: 10px;
}

.info-container .subtitle {
	font-size: 2.8rem;
	margin: 10px 0;
	font-weight: 700;
}

.info-container h2 {
	font-size: 2.4rem;
	margin-bottom: 5px;
}

.info-content {
	background-color: #323131;
	padding: 7px;
	margin: 10px 0;
}

.info-content p {
	font-size: 1.7rem;
	line-height: 2.7rem;
}

/*Section Fondo-2*/

.fondo-2 {
	margin-top: 30px;
	font-weight: bold;
	font-size: 2.7rem;
	color: whitesmoke;
	width: 100%;
	height: 200px;
	border: 1px solid black;
	text-align: center;

	display: flex;
	align-items: center;

	background-image: url('./images/fondo-2.jpg');
	background-position: center;
	background-size: cover;
}

/*Sección Compras*/

.compras h2 {
	text-align: center;
	font-size: 2.5rem;
	margin: 20px 0;
}

.article-item {
	margin: 10px 0;
	text-align: center;
	padding: 5px;
}

.article-item h3 {
	font-size: 2rem;
	margin: 10px 0;
}

.article-item picture {
	width: 100%;
	min-width: 310px;
	max-width: 800px;
	height: auto;
}

.article-item picture img {
	width: 100%;
	height: auto;
}

.article-item .compra-item {
	padding: 1.3rem 1.7rem;
	background-color: #212121;
	display: inline-block;
	margin: 10px 0;
}

.article-item .compra-item a {
	font-size: 2rem;
	font-weight: bold;
	color: white;
	text-decoration: none;
	text-transform: uppercase;
}

.article-item .compra-item a:hover {
	background: white;
	color: #212121;
	border: 1px solid #212121;
}

.article-item .item-info p {
	font-size: 1.8rem;
	line-height: 2.5rem;
	margin: 5px 0 0 0;
}

.article-item .btn-rl {
	display: flex;
	justify-content: space-between;
	margin: 7px 0;
}

.article-item .btn-rl button {
	background: none;
	border: none;
	margin: 0 5px;
}

/*Footer*/

footer {
	background-color: #323131;
	color: white;
	text-align: center;
	padding: 1.5rem;
	font-size: 1.9rem;
	font-weight: 600;
}

footer span {
	color: #d63031;
}